<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("header", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="container-fluid navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">Zerochaos</a>
        </div>
    </nav>
    <div class="container panel panel-primary">
        @RenderBody()
    </div>
</body>
</html>
