<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("header", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="container-fluid navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">Zerochaos</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li style="color:white;"><a data-toggle="tooltip" data-placement="bottom" title="Your Profile"><span class="glyphicon glyphicon-user"></span> @Session["username"]</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="LogOut"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            }
            else
            {
                <li><a href="~/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }
        </ul>

    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
