<form role="form" id="GoalQuarterForm" class="form-horizontal">
    <div class="form-horizontal">
        <div class="form-group required">
            <label class="col-md-3 control-label">Quarter</label>
            <div class="col-md-4">
                <input type="number" name="GoalQuarters" id="GoalQuarters" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Quarter Year</label>
            <div class="col-md-4">
                <input type="number" name="GoalYears" id="GoalYears" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Create From</label>
            <div class="col-md-4">
                <input type="date" name="GoalCreateFrom" id="GoalCreateFrom" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Create To</label>
            <div class="col-md-4">
                <input type="date" name="GoalCreateTo" id="GoalCreateTo" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="quarterSubmitButton">ADD</button>
            </div>
        </div>
    </div>
</form>
