<div class="well">
    <table class="table table-condensed" id="SetGoalTable">
        <tr>
            <td class="col-md-3"><input type="number" class="form-control" placeholder="Range From(%)" id="RangeFrom"/></td>
            <td class="col-md-3"><input type="number" class="form-control" placeholder="Range To(%)" id="RangeTo" /></td>
            <td class="col-md-3"><input type="number" class="form-control" placeholder="Rating(%)" id="Rating" /></td>
            <td class="col-md-1" align="center"><span class="glyphicon glyphicon-plus btn btn-success" onclick="AddGoalRule()" /></td>
        </tr>
        <tr>
            <th>Range From</th>
            <th>Range To</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table" id="RuleListTable">
                   
                </table>
            </td>
        </tr>
    </table>    
</div>