<div class="table table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date of Creation</th>
                <th>Quarter</th>
                <th>Year</th>
                <th>Unit of Measurement</th>
                <th>Measurement Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-eye-open" />&nbsp;<span class="glyphicon glyphicon-pencil" />&nbsp;<span class="glyphicon glyphicon-remove" /></td>
            </tr>
        </tbody>
    </table>
</div>
