<div class="well">
    <table class="table table-condensed">
        <tr>
            <td class="col-md-3"><input type="text" class="form-control" placeholder="Range From(%)"/></td>
            <td class="col-md-3"><input type="text" class="form-control" placeholder="Range To(%)" /></td>
            <td class="col-md-3"><input type="text" class="form-control" placeholder="Rating(%)" /></td>
            <td class="col-md-1" align="center"><button class="btn btn-success"><span class="glyphicon glyphicon-plus" /></button></td>
        </tr>
        <tr>
            <th>Range From</th>
            <th>Range To</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table">
                    <tr>
                        <td class="col-md-3">10</td>
                        <td class="col-md-3">20</td>
                        <td class="col-md-3">50</td>
                        <td class="col-md-1"><span class="glyphicon glyphicon-pencil"/>&nbsp;<span class="glyphicon glyphicon-remove" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>    
</div>