<table class="table table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Date of Creation</th>
            <th>Quarter</th>
            <th>Year</th>
            <th>Unit of Measurement</th>
            <th>Measurement Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
