@{
    ViewBag.Title = "Home";
}
@model List<ZC_IT_TimeTracking.GetSpecificRecordsOfGoal_Result>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Goal List</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">@RenderPage("~/Views/Home/_GoalList.cshtml")</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Create/Update Goal</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form" id="GoalCreateForm" class="form-horizontal">
                    @RenderPage("~/Views/Home/_CreateGoal.cshtml")
                    <div id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse3">Goal Rules</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="panel-body">@RenderPage("~/Views/Home/_GoalRule.cshtml")</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                    <button type="reset" class="btn btn-default" id="resetButton">Reset</button>
                </form>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
