@{
    ViewBag.Title = "Profile";
}
<div class="col-lg-3">
    <img src="~/Images/photo.png" class="img-thumbnail" alt="profile photo" width="250" height="250" />
</div>
<div class="col-lg-6">
    <div class="row">
        <label class="h4">Full Name:</label>
        <label class="col-lg-offset-1">sdfa</label>
    </div>
    <div class="row">
        <label class="h4">Department:</label>
        <label class="col-lg-offset-1">department of user</label>
    </div>
    <div class="row">
        <label class="h4">Designation:</label>
        <label class="col-lg-offset-1">designation of user</label>
    </div>
    <div class="row">
        <label class="h4">Email Address:</label>
        <label class="col-lg-offset-1">email@domain.com</label>
    </div>
    <div class="row">
        <label class="h4">Team:</label>
        <label class="col-lg-offset-1">team abc</label>
    </div>
</div>