<form role="form" id="UserRegistrationform" class="form-horizontal">
    <div class="form-horizontal" id="formInput">
        <div class="form-group required">
            <label class="col-md-3 control-label">First Name</label>
            <div class="col-md-4">
                <input type="text" name="Fname" id="Fname" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Last Name</label>
            <div class="col-md-4">
                <input type="text" name="Lname" id="Lname" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Email ID</label>
            <div class="col-md-4">
                <input type="email" name="EmailID" id="EmailID" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Role</label>
            <div class="col-md-4">
                <select id="UserRole" class="form-control">
                    <option>Manager</option>
                    <option selected="selected">User</option>
                </select>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">UserName</label>
            <div class="col-md-4">
                <input type="text" name="Uname" id="Uname" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-4">
                <input type="text" name="Password" id="Password" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 control-label">Confirm Password</label>
            <div class="col-md-4">
                <input type="text" name="CPassword" id="CPassword" required="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-3">
                <input type="submit" name="Submit" id="Submit" class="btn btn-primary" />
                <input type="reset" name="reset" id="reset" class="btn btn-default" />
            </div>
        </div>
        @Html.ActionLink("Back to Login", "Login")
    </div>
</form>
