@{
    ViewBag.Title = "Create new user";
}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#showPassword").click(function () {
            if ($("#Password").attr("type") == "password") {
                $("#Password").attr("type", "text");
                $("#viewIcon").removeClass("glyphicon-eye-open");
                $("#viewIcon").addClass("glyphicon-eye-close");
            }
            else {
                $("#Password").attr("type", "password");
                $("#viewIcon").removeClass("glyphicon-eye-close");
                $("#viewIcon").addClass("glyphicon-eye-open");
            }
        });
    });
</script>
<h1 class="col-lg-offset-3">Create New</h1>
<div class="row col-lg-offset-3">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-2" for="FName">First Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="FName" id="FName" placeholder="Enter first name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="MName">Middle Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="MName" id="MName" placeholder="Enter middle name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="LName">Last Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="LName" id="LName" placeholder="Enter last name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Email">Email Address</label>
            <div class="col-lg-6">
                <input type="email" class="form-control" name="Email" id="Email" placeholder="Enter email address" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="UserType">User Type</label>
            <div class="col-lg-6">
                <select class="form-control" name="UserType" id="UserType">
                    <option value="">--Select User Type--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Department">Department</label>
            <div class="col-lg-6">
                <select class="form-control" name="Department" id="Department">
                    <option value="">--Select Department--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Team">Team</label>
            <div class="col-lg-6">
                <select class="form-control" name="Team" id="Team">
                    <option value="">--Select Team--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Password">Password</label>
            <div class="col-lg-6">
                <div class="input-append input-group">
                    <input class="form-control" type="password" id="Password" name="Password" placeholder="Enter password for user" required>
                    <span title="show/hide password" data-toggle="tooltip" class="add-on input-group-addon" id="showPassword" style="cursor: pointer;">
                        <i class="glyphicon glyphicon-eye-open" id="viewIcon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>